 <h1 class="text-center">All Categories</h1>
<br>

<div class="row row-cols-1 row-cols-md-4">
  
    
  <div class="card"  *ngFor="let category of categories" style="width:16rem;">
    <div class="col mb-4">
    <img src="{{image_url+category.catImage}}" class="card-img-top" width="150" height="150">
    <div class="card-body">
      <h5 class="card-text text-center">{{category.catName}}</h5>
      <button routerLink="/category/{{category.catId}}" class="btn btn-primary">Select</button>
    </div>
  </div>
</div>
</div>

