
<div class="card"  style="width: 18rem; ">

    <img src="http://rjtmobile.com/grocery/images/{{dets.image}}" class="card-img-top" alt="">
  
    <div class="card-body">
  
      <h3 class="card-title">{{dets.productName}}</h3>
  
      <p class="card-text">{{dets.description}}</p>
  
      <p class="card-text"><small >Stock available :{{dets.quantity}}</small></p>
  
      <h4 style="color:black;">Price: {{dets.price}}</h4>
  
      <h4 style="color: black;">MRP: {{dets.mrp}}</h4>
     
  
      <a href="#" class="btn btn-primary">Add to cart</a>
  
    </div>
  
  </div>
