
<div class="row">

    <div class="col-lg-3" >
      
        
          <h5 text-center>Sub categories</h5>
              <div *ngFor="let sub of subs">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">{{sub.subName}}</li>
            
                    
                  </ul>
                </div>
            </div>
    </div>
            
          
            
          
          
        <div class="col-lg-9">
          <app-product></app-product>
        </div>
     
</div>